<footer class="footer footer-center p-4 bg-base-300 text-slate-100 mt-auto">
    <div>
      <p>© 2023 Copyright. All rights reserved. Created by <a href="https://www.alexcovone.com/" target="_blank" class="hover:text-primary">Alex Covone</a></p>
    </div>
  </footer>
</body>
</html>