<footer class="footer footer-center p-4 bg-base-300 text-base-content mt-auto">
    <div>
      <p>© 2023 Copyright. Created by <a href="https://www.alexcovone.com/" target="_blank" class="hover:text-primary-content">Alex Covone</a></p>
    </div>
  </footer>
</body>
</html>