<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helping Hands</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="navbar fixed bg-base-100 top-0 z-50 border border-red-500 border-3">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case xs:text-3xl md:text-4xl" href="/events">Helping Hands</a>
      </div>
      <div class="flex-none gap-2">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M18 9.318v1.364c0 .245-.21.445-.47.445H2.47a.444.444 0 0 1-.47-.445v-1.364c0-.245.21-.445.47-.445h15.06c.26 0 .47.2.47.445zm0-4.318v1.363c0 .246-.21.446-.47.446H2.47a.444.444 0 0 1-.47-.446V5c0-.245.21-.445.47-.445h15.06c.26 0 .47.2.47.445zm0 8.635v1.363c0 .245-.21.445-.47.445H2.47a.444.444 0 0 1-.47-.445v-1.363c0-.245.21-.445.47-.445h15.06c.26 0 .47.2.47.445z" clip-rule="evenodd" />
            </svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/profile" class="text-xl">Profile</a></li>
            <li><a href="/events" class="text-xl">Events</a></li>
            <%if(user.role === 'Admin'){ %>
              <li><a href="/admin" class="text-xl">Admin</a></li>
              <%}%>
            <li><a href="/logout" class="text-xl">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>
