<%- include('partials/header') -%>

<div class="container">
    <div class="mt-4 p-5 rounded" style="background-color:rgb(233,236,239)">
        <h1 class="display-3">Contract work that revolves around You</h1>
        <p class="lead"><strong>Helping Hands</strong> offers a platform to secure available contracting work that seamlessly fits with your schedule.</p>
        <!-- <hr class="my-4"> -->
        <p class="lead">
        <a class="btn btn-secondary btn-lg" href="/login" role="button">Sign In</a>
        <a class="btn btn-outline-secondary btn-lg" href="/signup" role="button">Register</a>
        </p>
    </div>
</div>
    

<%- include('partials/footer') -%>